<%- include('../views/partials/header') %>
<!--  -->
<%- include('../views/partials/navbar') %>

<h2 id="titulo" class="text-info"><br /><b>Produtos Centipede</b></h2>
<br />
<div class="bg-info mx-auto" style="height: 3px; width: 90%"></div>
<br />

<% categorias.forEach((categoria) => { %>
<h4 class="text-info mx-5">
    <b>
        <p><%= categoria.categoria %></p>
    </b>
</h4>

<% if (categoria.Produtos.length > 0) { %>
<!--  -->
<% categoria.Produtos.forEach((produto) => { %> 
<!-- corpo do site -->
<!--row-cols-md- (NUMERO DE CLOUNAS)-->
<div class="row row-cols-1 row-cols-md-5 g-4" id="wrap">
    <!-- CARD inicio -->
    <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <!-- Imagem do produto -->
            <img
                src="<%= produtos.imagem %>"
                class="card-img-top"
                id="fotos"
                height="200px"
                width="auto"
                alt=""
            />
            <div class="card-body overflow-auto dropdown" id="card">
                <!-- Nome do produto -->
                <b><%= produto.produto %></b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <!-- Preço do produto -->
                    <%= produto.valor.toLocaleString("pt-BR", { style: "currency",
                    currency: "BRL", }); %>
                </li>
                <li class="list-group-item"><%= produto.avaliacao %></li>
                <a href="" class="btn-border-0">
                    <li class="list-group-item">Edit</li>
                </a>
            </ul>
            <div class="card-footer">
                <small class="text-muted">Última alteração: 3 mins atrás</small>
            </div>
        </div>
    </div>
    <!-- CARD fim -->
</div>

<% }) %>
<!--  -->
<% } else { %>

<h3>Nenhum produto encontrado para esta categoria.</h3>

<% } %>
<!--  -->
<% }) %> 

<br />
<%- include('../views/partials/footer') %>
